<div id="contenedor">
  <div id="escena">
    <div [ngSwitch]="choice">
      <app-planos ancho=700 largo=500 opcion="control" r2="si" #plano>
        <app-cicloide *ngSwitchCase="'cicloide'" #curva ancho=700 largo=500></app-cicloide>
        <app-epicicloide *ngSwitchCase="'epicicloide'" #curva ancho=700 largo=500></app-epicicloide>
        <app-hipocicloide *ngSwitchCase="'hipocicloide'" #curva ancho=700 largo=500></app-hipocicloide>
      </app-planos>
    </div>
  </div>
  <div id="info">

    <ngb-tabset>
      <ngb-tab>
        <ng-template ngbTabTitle ><span (click)="cambio(0)"> cicloide</span></ng-template>
        <ng-template ngbTabContent>
          <h3>Parametrizacion clicloide </h3>
          <p>
              (x(t), y(t))=r(t-sent),r(1-cost)
          </p>
        </ng-template>
      </ngb-tab>
      <ngb-tab >
          <ng-template ngbTabTitle ><span (click)="cambio(1)">epicicloide</span></ng-template>

        <ng-template ngbTabContent>
            <h3>Parametrizacion epicicloide </h3>

          <p>
              (x(t), y(t))=r(t-sent),r(1-cost)
          </p>
        </ng-template>
      </ngb-tab>
      <ngb-tab >
          <ng-template ngbTabTitle ><span (click)="cambio(2)">hipocicloide</span></ng-template>

        <ng-template ngbTabContent>
            <h3>Parametrizacion hipocicloide </h3>

          <p>
              (x(t), y(t))=r(t-sent),r(1-cost)
          </p>
        </ng-template>
      </ngb-tab>

    </ngb-tabset>
  </div>
  <div id="ojos">
    <h3>Componentes</h3>
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item visible">
          <div id="ojo1" class="ojo" ojo="si"></div><span>generatriz</span>
        </li>
        <li class="list-group-item visible">
          <div id="ojo2" class="ojo" ojo="si"></div>base
        </li>
        <li class="list-group-item visible">
          <div id="ojo3" class="ojo" ojo="si"></div>curva
        </li>
      </ul>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Cierre</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Esta escena está diseñada para ofrecer al usuario las gráfica de tres curvas:
        <br>curva cíclica (rojo), generatriz (azul) y base (negro). Cuando cambia la curva cambian la generatriz y la base.
        <br><br>
        Las funciones se presentan de la siguiente manera:
        <br><br>
        La curva cicloide, una epicicloide o una hipocicloide
        <br><br>
        La curva cicloide, una epicicloide o una hipocicloide
        <br>Las curvas en azul y negro son la generatriz y base respectivas a cada una de las curva anteriores.
        <br><br>
        Así el usuario podrá analizar el cambio que se produce tanto la generatriz como la base al modificar los parámetros en su expresión y su relación con la curva .
              </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>