#nav {
    background-color: rgba(255, 255, 255, .8);
}

#imge{
    position: absolute;
    top: 20%;
    width: 150px;
    height: 150px;
    transform: translateX(600%) rotate(180deg);
    background: url(../../assets/rueda.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: content-box;
}
.nav-item{cursor: pointer;}

#inicio {
    margin: 0%;
    width: 100vw;
    height: 100vh;
}

#cicloide {
    margin: 0%;
    padding-top: 1%;
    width: 100vw;
    height: 100vh;
}
#epicicloides {
    margin: 0%;
    padding-top: 1%;
    width: 100vw;
    height: 100vh;
}
#hipocicloides1 {
    margin: 0%;
    padding-top: 1%;
    width: 100vw;
    height: 100vh;
}
#hipocicloides2 {
    margin: 0%;
    padding-top: 1%;
    width: 100vw;
    height: 100vh;
}




