<div id="tele">

  <div id="flat" [ngStyle]="{'width':flatAncho, 'height':flatLargo}">



    <svg [attr.height]="largo" [attr.width]="ancho" id="uno">
      <path id="y" [attr.d]='ejey' stroke="red" stroke-width="1" fill="none" />
      <path id="x" [attr.d]="ejex" stroke="black" stroke-width="1" fill="none" />
    </svg>
    <ng-content id="dos" ></ng-content>

  </div>


  <h4> &nbsp;t={{this.curva.tiempo.toFixed(1)}} &nbsp;&nbsp;&nbsp;&nbsp; r={{this.curva.radioV2.toFixed(1)}} &nbsp;&nbsp;&nbsp;&nbsp; R={{this.curva.radioV1.toFixed(1)}} </h4>

  <div [ngSwitch]="opcion">
    <div *ngSwitchCase="'animacion'">
      <button type="button" class="btn btn-primary" (click)="parar()">Para</button>
      <button type="button" class="btn btn-success" (click)="iniciar()">Inicia</button>
    </div>
    <div *ngSwitchCase="'control'">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="Third group" id="t">
          <span class="badge badge-pill badge-light">t</span>
          <button type="button" class="btn btn-secondary" (mouseup)="pmas()" (mousedown)="mas()" (touchstart)="mas()" (touchend)="pmas()" >+</button>
          <button type="button" class="btn btn-secondary" (mouseup)="pmenos()" (mousedown)="menos()" (touchend)="pmenos()" (touchstart)="menos()">-</button>
        </div>
        <div class="btn-group" role="group" aria-label="Third group" id="t">
          <span class="badge badge-pill badge-light">r</span>
          <button type="button" class="btn btn-secondary" (mouseup)="rpmas()" (mousedown)="rmas()" (touchend)="rpmas()" (touchstart)="rmas()">+</button>
          <button type="button" class="btn btn-secondary" (mouseup)="rpmenos()" (mousedown)="rmenos()" (touchend)="rpmenos()" (touchstart)="rmenos()">-</button>
        </div>
      <div *ngIf="r2" class="btn-group" role="group" aria-label="Third group" id="t">
        <span class="badge badge-pill badge-light">R</span>
        <button type="button" class="btn btn-secondary" (mouseup)="rvpmas()" (mousedown)="rvmas()" (touchend)="rvpmas()" (touchstart)="rvmas()">+</button>
        <button type="button" class="btn btn-secondary" (mouseup)="rvpmenos()" (mousedown)="rvmenos()" (touchend)="rvpmenos()" (touchstart)="rvmenos()">-</button>
      </div>
    </div>
  </div>

</div>

</div>